<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrito de Compras</title>
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="shortcut icon" href="/images/iconoPágina.jpg" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
  </head>
  <body>
    <header>
        <h1 class="tituloTabCart">Velas Shopping</h1>
        <nav>
          <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/productos">Productos</a></li>
            <li><a href="/contacto">Contacto</a></li>
          </ul>
        </nav>
        <div class="divBotonAcceso" id="divBotonAcceso">
          <a href="/login"
            ><button id="botonAcceso" class="botonAcceso">
              Acceso / Registro
            </button>
          </a>
        </div>
        <div class="divBotonLogout" id="divBotonLogout">
          <a href="/logout"
            ><button id="botonLogout" class="botonAcceso">
              Cerrar Sesión
            </button>
          </a>
        </div>
        <div class="social-links">
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-twitter"></a>
        </div>
      </header>

    <h1 class="tituloTabCart">Carrito de Compras</h1>

    <% if (cart && cart.length > 0) { %>
      <table>
        <thead>
          <tr>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Eliminar</th>
          </tr>
        </thead>
        <tbody>
          <% cart.forEach(item => { %>
            <tr class="product-row" data-product-id="<%= item.productId %>"> <!-- Agregar la clase y el atributo -->
              <td><%= item.name %></td>
              <td><%= item.quantity %></td>
              <td><%= typeof item.price === 'number' ? item.price.toFixed(2) : '0.00' %>€</td>
              <td><%= (item.quantity * item.price).toFixed(2) %>€</td>
              <td><button class="remove-btn" data-product-id="<%= item.productId %>">Eliminar</button></td>
            </tr>
          <% }); %>
        </tbody>
      </table>
      
      <h3>Total: <%= cart.reduce((acc, item) => acc + (item.quantity * item.price), 0).toFixed(2) %>€</h3>

      <div class="divButtons-Cart">
        <a href="/productos">Seguir comprando</a>
        <a href="/checkout">Ir a pagar</a>
    </div>
      <!-- Botón flotante de carrito -->
      <a href="/cart" class="floating-cart" id="floating-cart">
        <div class="cart-icon">
          <img src="/images/iconoPágina.jpg" alt="Vela del carrito" class="velaCarrito">
          <span class="item-count" id="item-count">-</span> <!-- Muestra el número de productos en el carrito -->
        </div>
      </a>
    <% } else { %>
      <p>Tu carrito está vacío.</p>
      <a href="/productos">Volver a la tienda</a>
    <% } %>
    <script src="/js/script.js" defer></script>
  </body>
</html>
