<!-- views/confirmation.ejs -->
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Confirmación de Pago</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Velas Shopping</h1>
    </header>

    <main>
      <div id="contenidoConfirm">
        <h2 class="form-h2">Pago Procesado</h2>
        <p class="tituloTabCart">¡Gracias por su compra!</p>

        <% if (message) { %>
        <div class="alert alert-success"><%= message %></div>
        <% } %> <% if (cartItems && cartItems.length > 0) { %>
        <h3>Artículos comprados:</h3>
        <ul>
          <% cartItems.forEach(item => { %>
          <li>
            <strong><%= item.name %></strong> - Cantidad: <%= item.quantity %>,
            Precio: $<%= item.price.toFixed(2) %>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <p>No se encontraron artículos en el carrito.</p>
        <% } %> <% if (formularioDatos) { %>
        <h3>Detalles de envío:</h3>
        <ul>
          <li><strong>Nombre:</strong> <%= formularioDatos.nombre %></li>
          <li><strong>Dirección:</strong> <%= formularioDatos.direccion %></li>
          <li><strong>Ciudad:</strong> <%= formularioDatos.ciudad %></li>
          <li>
            <strong>Código Postal:</strong> <%= formularioDatos.codigoPostal %>
          </li>
        </ul>
        <% } else { %>
        <p>No se encontraron detalles de envío.</p>
        <% } %>

        <p>Puede volver a la <a href="/">página principal</a>.</p>
      </div>
    </main>

    <footer>
      <p>&copy; 2024 Velas Shopping. Todos los derechos reservados.</p>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>
