<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Velas Shopping</title>
    <link
      rel="shortcut icon"
      href="/images/iconoPágina.jpg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Velas Shopping</h1>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/productos">Productos</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>
      <div class="divBotonAcceso" id="divBotonAcceso">
        <a href="/login"
          ><button id="botonAcceso" class="botonAcceso">
            Acceso / Registro
          </button>
        </a>
      </div>
      <div class="divBotonLogout" id="divBotonLogout">
        <a href="/logout"
          ><button id="botonLogout" class="botonAcceso">Cerrar Sesión</button>
        </a>
      </div>
      <div class="social-links">
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
      </div>
    </header>

    <main>
      <div class="mensaje-flotante" id="mensajeFlotante"></div>
      <section class="product-grid">
        <article class="product">
          <img src="./images/imagen_vela_aromatica.jpg" alt="Vela Aromática" />
          <h2>Vela Aromática</h2>
          <p>Aroma de lavanda, ideal para relajarse.</p>
          <span class="price">10.00€</span>
          <form action="/cart" method="POST">
            <input type="hidden" name="productId" value="10" />
            <!-- id del producto (buscar forma de recuperar primero el id de la BBBDD)-->
            <input type="number" name="quantity" value="1" min="1" />
           <input type="hidden" name="redirectUrl" value="<%= redirectUrl %>">
            <button type="submit">Agregar al carrito</button>
          </form>
        </article>
        <article class="product">
          <img src="./images/imagen_vela_soja.jpg" alt="Vela de Soja" />
          <h2>Vela de Soja</h2>
          <p>Hecha con cera natural, sin tóxicos.</p>
          <span class="price">12.00€</span>
          <form action="/cart" method="POST">
            <input type="hidden" name="productId" value="11" />
            <!-- id del producto -->
            <input type="number" name="quantity" value="1" min="1" />
            <input type="hidden" name="redirectUrl" value="<%= redirectUrl %>">
            <button type="submit">Agregar al carrito</button>
          </form>
        </article>
        <article class="product">
          <img
            src="./images/imagen_vela_cera_abeja.jpg"
            alt="Vela de Cera de Abeja"
          />
          <h2>Vela de Cera de Abeja</h2>
          <p>Proporciona una luz cálida y natural.</p>
          <span class="price">15.00€</span>
          <form action="/cart" method="POST">
            <input type="hidden" name="productId" value="12" />
            <!-- id del producto -->
            <input type="number" name="quantity" value="1" min="1" />
            <input type="hidden" name="redirectUrl" value="<%= redirectUrl %>">
            <button type="submit">Agregar al carrito</button>
          </form>
        </article>
        <article class="product">
          <img src="./images/imagen_vela_flotante.jpg" alt="Vela Flotante" />
          <h2>Vela Flotante</h2>
          <p>Perfecta para decoraciones en el agua.</p>
          <span class="price">8.00€</span>
          <form action="/cart" method="POST">
            <input type="hidden" name="productId" value="13" />
            <!-- id del producto -->
            <input type="number" name="quantity" value="1" min="1" />
            <input type="hidden" name="redirectUrl" value="<%= redirectUrl %>">
            <button type="submit">Agregar al carrito</button>
          </form>
        </article>
        <article class="product">
          <img
            src="./images/imagen_vela_decorativa.jpg"
            alt="Vela Decorativa"
          />
          <h2>Vela Decorativa</h2>
          <p>Diseños únicos temáticos.</p>
          <span class="price">20.00€</span>
          <form action="/cart" method="POST">
            <input type="hidden" name="productId" value="14" />
            <!-- id del producto -->
            <input type="number" name="quantity" value="1" min="1" />
            <input type="hidden" name="redirectUrl" value="<%= redirectUrl %>">
            <button type="submit">Agregar al carrito</button>
          </form>
        </article>
        <article class="product">
          <img
            src="./images/imagen_vela_aromatica_cafe.jpg"
            alt="Vela Aromática de Café"
          />
          <h2>Vela Aromática de Café</h2>
          <p>Un aroma delicioso que te despierta.</p>
          <span class="price">14.00€</span>
          <form action="/cart" method="POST">
            <input type="hidden" name="productId" value="15" />
            <!-- id del producto -->
            <input type="number" name="quantity" value="1" min="1" />
            <input type="hidden" name="redirectUrl" value="<%= redirectUrl %>">
            <button type="submit">Agregar al carrito</button>
          </form>
        </article>
        <article class="product">
          <img
            src="./images/imagen_vela_decorativa_navidad.jpg"
            alt="Vela decorativa de navidades"
          />
          <h2>Vela decorativa de navidades</h2>
          <p></p>
          <span class="price">14.00€</span>
          <form action="/cart" method="POST">
            <input type="hidden" name="productId" value="16" />
            <!-- id del producto -->
            <input type="number" name="quantity" value="1" min="1" />
            <input type="hidden" name="redirectUrl" value="<%= redirectUrl %>">
            <button type="submit">Agregar al carrito</button>
          </form>
        </article>
        <article class="product">
          <img
            src="./images/imagen_vela_decorativa_san_valentin.jpg"
            alt="Vela decorativa de San Valentin"
          />
          <h2>Vela decorativa de San Valentín</h2>
          <p></p>
          <span class="price">10.00€</span>
          <form action="/cart" method="POST">
            <input type="hidden" name="productId" value="17" />
            <!-- id del producto -->
            <input type="number" name="quantity" value="1" min="1" />
           <input type="hidden" name="redirectUrl" value="<%= redirectUrl %>">
            <button type="submit">Agregar al carrito</button>
          </form>
        </article>
        <article class="product">
          <img
            src="./images/imagen_vela_decorativa_rosa.jpg"
            alt="Vela decorativa con forma de rosa"
          />
          <h2>Vela decorativa con forma de rosa</h2>
          <p></p>
          <span class="price">14.00€</span>
          <form action="/cart" method="POST">
            <input type="hidden" name="productId" value="18" />
            <input type="number" name="quantity" value="1" min="1" />
           <input type="hidden" name="redirectUrl" value="<%= redirectUrl %>">
            <button type="submit">Agregar al carrito</button>
          </form>
        </article>
      </section>
      <!-- Botón flotante de carrito -->
      <a href="/cart" class="floating-cart" id="floating-cart">
        <div class="cart-icon">
          <img
            src="/images/iconoPágina.jpg"
            alt="Vela del carrito"
            class="velaCarrito"
          />
          <span class="item-count" id="item-count">-</span>
        </div>
      </a>
    </main>

    <footer>
      <div class="footer-content">
        <p>&copy; 2024 Tienda de Velas. Todos los derechos reservados.</p>

        <nav>
          <ul>
            <li><a href="">Términos y Condiciones</a></li>
            <li><a href="">Política de Privacidad</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Sobre Nosotros</a></li>
          </ul>
        </nav>
        <p>
          Contacto:
          <span
            ><a href="mailto:tusvelasshopping@gmail.com"
              >tusvelasshopping@gmail.com</a
            >
          </span>
        </p>
      </div>
    </footer>
    <script src="/js/script.js" defer></script>
  </body>
</html>
