<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Velas Shopping</title>
    <link
      rel="shortcut icon"
      href="/images/iconoPágina.jpg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <header>
      <h1>Velas Shopping</h1>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/productos">Productos</a></li>
          <li><a href="/contacto">Contacto</a></li>
        </ul>
      </nav>
      <div class="divBotonAcceso" id="divBotonAcceso">
        <a href="/login">
          <button id="botonAcceso" class="botonAcceso">
            Acceso / Registro
          </button>
        </a>
      </div>
      <div class="divBotonLogout" id="divBotonLogout">
        <a href="/logout">
          <button id="botonLogout" class="botonAcceso">
            Cerrar Sesión
          </button>
        </a>
      </div>
      <div class="social-links">
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-twitter"></a>
      </div>
    </header>

    <main>
      <h2 class="form-h2">Velas Temáticas</h2>
      <% if (velas && velas.length > 0) { %>
        <section class="product-grid">
          <% velas.forEach((vela) => { %>
            <article class="product">
              <img src="/images/<%= vela['Imagen/Video'] %>" alt="<%= vela.nombre %>" />
              <h2><%= vela.nombre %></h2>
              <p><%= vela.descripcion || 'Descripción no disponible.' %></p>
              <span class="price"><%= vela.precio %> €</span>
              <form action="/cart" method="POST">
                <input type="hidden" name="productId" value="<%= vela.id %>"> <!-- id del producto -->
                <input type="hidden" name="redirectUrl" value="<%= redirectUrl %>">
                <input type="number" name="quantity" value="1" min="1">
                <button type="submit">Agregar al carrito</button>
              </form>
            </article>
          <% }) %>
        </section>
      <% } else { %>
        <p>No hay velas disponibles en esta categoría.</p>
      <% } %>

      <!-- Botón flotante de carrito -->
      <a href="/cart" class="floating-cart" id="floating-cart">
        <div class="cart-icon">
          <img src="/images/iconoPágina.jpg" alt="Vela del carrito" class="velaCarrito">
          <span class="item-count" id="item-count">0</span> 
        </div>
      </a>
    </main>

    <footer>
      <div class="footer-content">
        <p>&copy; 2024 Tienda de Velas. Todos los derechos reservados.</p>

        <nav>
          <ul>
            <li><a href="">Términos y Condiciones</a></li>
            <li><a href="">Política de Privacidad</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Sobre Nosotros</a></li>
          </ul>
        </nav>
        <p>
          Contacto:
          <a href="mailto:tusvelasshopping@gmail.com">tusvelasshopping@gmail.com</a>
        </p>
      </div>
    </footer>
    <script src="/js/script.js" defer></script>
  </body>
</html>